AWS_REGION=CHANGE_ME_AWS_REGION
RDS_INSTANCE_ID=usuarios-rest-eval
RDS_DB_NAME=municipalidad_la_florida
RDS_MASTER_USERNAME=CHANGE_ME
RDS_MASTER_PASSWORD=CHANGE_ME
RDS_INSTANCE_CLASS=db.t4g.micro
RDS_ALLOCATED_STORAGE=20
RDS_ALLOWED_CIDR=CHANGE_ME_PUBLIC_IP/32
RDS_PUBLICLY_ACCESSIBLE=true
